/*--
Name: Mariah Jurao
File: style.css
Date: 2/22/2025
Description: This is the CSS code for the simple webpage layout. */


/* body styling */
body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  /* image styling */
  img {
      max-width: 100%;
      display: block;
      float: left;
      margin-right: 1em;
  }
  
  /* logo styling */
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  /* grid styling */
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: flex;
  }
  
  /* navigation bar styling */
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    top: 0;
  }
  
  /* navigation list styling */
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  /* navigation links styling */
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  /* photo grid styling */
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
  }

  /* feature styling */
  .feature {
      width: 200px;
      float: left;
      margin-right: 1em;
  }

  /*image article styling */
  img.article-img {
    float: left;
    margin: 1em;
  }

  /* article and aside styling */
  article, aside {
      display: flex;
      flex-direction: column;
  }

  /* container for article and aside */
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
